<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="icon" href="/images/favicon.png" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/services.css" />
  </head>

  <body>
    <%- include('../../../../components/header.ejs') %>

    <h1>Phones</h1>




    <% if (phones && phones.length > 0){ %> 

<% phones.forEach(phone => { %>
        <figure className="">
          <a href= <%=`/services/repairs/oneplus/phones/${phone.url}` %> >
            <image
              src=<%= `/images/services/repairs/oneplus/phones/${phone.image}` %>
              alt= <%= phone.series %>
              width="200"
              height="200"
            />
          </a>
          <figcaption><%= phone.series %></figcaption>
        </figure>

       
      <% }) %> 
      <% } else { %>
      <p>There are no Phones to display. </p>
      <% } %>
 
    
    <%- include('../../../../components/footer.ejs') %>
  </body>
</html>
