<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="icon" href="/images/favicon.png" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/transaction.css" />
  </head>
  <body>
    <%- include('./header.ejs') %>
    <h1>Transactions</h1>

    <form
      class="transaction card"
      action="/transaction"
      method="POST"
      autocomplete="on"
    >
    <h2>Record</h2>
    <h4>Record a Transaction</h4>

      <!--Repair-->
      <section>
        <label for="repair">Repair</label>
        <input
          name="repair"
          type="text"
          autocomplete="repair"
          autofocus
          required
        />
      </section>
      <!--total-->
      <section>
        <label for="total">Total</label>
        <input
          name="total"
          type="number"
          autocomplete="total"
          autofocus
          required
        />
      </section>
      <!-- Part -->
      <section>
        <label for="part">Part Cost</label>
        <input
          name="part"
          type="number"
          autocomplete="part"
          autofocus
          required
        />
      </section>

      <!-- Payment Method -->
      <section>
        <label for="method">Payment Method</label>
        <input
          name="method"
          type="text"
          autocomplete="part"
          autofocus
          required
        />
      </section>
      <!-- Profit -->
      <input type="hidden" name="profit" value="unknown" />

      <!-- Location -->
      <section>
        <p>Select Location</p>
        <input type="radio" value="West Seattle" name="location" required />
          <label for="West Seattle">West Seattle</label><br />

        <input type="radio" value="Ballard" name="location" required />
          <label for="Ballard">Ballard</label><br />

        <input type="radio" value="North Seattle" name="location" required />
          <label for="North Seattle">North Seattle</label><br />
      </section>

      <!--Date-->
      <section>
        <label for="date">Date</label>
        <input name="date" type="date" autocomplete="date" autofocus required />
      </section>
      <!--User-->
      <input type="hidden" name="user" value= <%= currentUser.username %>
      />

      <button type="submit">Record Transaction</button>
    </form>


      <form class="selectFilter" action="/transactionFilters" method="POST">
              <h2>Search</h2>
<h4>Search Transactions Using Filters </h4>
        <section>
   <p>Select Date</p>
        <input name="date" type="date" autocomplete="date" autofocus />


        </section>
     <section>
  <p>Select Location</p>

    <input type="radio" value="all" name="location" required />
          <label for="all">All</label><br />

        <input type="radio" value="West Seattle" name="location" required />
          <label for="West Seattle">West Seattle</label><br />

        <input type="radio" value="Ballard" name="location" required />
          <label for="Ballard">Ballard</label><br />

        <input type="radio" value="North Seattle" name="location" required />
          <label for="North Seattle">North Seattle</label><br />

     </section>
      
    
        <button type="submit">Submit</button>
      </form>

    <script>
      var acc = document.getElementsByClassName("accordion");
      var i;

      for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
          /* Toggle between adding and removing the "active" class,
    to highlight the button that controls the panel */
          this.classList.toggle("active");

          /* Toggle between hiding and showing the active panel */
          var panel = this.nextElementSibling;
          if (panel.style.display === "block") {
            panel.style.display = "none";
          } else {
            panel.style.display = "block";
          }
        });
      }
    </script>


 <% if (transactions && transactions.length > 0){ %> 
    <!-- Table -->
    <table class="data">
      <tr>
        <th>Repair</th>
        <th>Total</th>
        <th>Part</th>
        <th>Profit</th>
        <th>Method</th>
        <th>Location</th>
        <th>User</th>
        <th>Date</th>
        <% if(currentUser && currentUser.isAdmin == 'true'){ %>

        <th>Admin</th>
        <% } %>
      </tr>
     
        <%
      transactions.forEach(tran => { %>

      <tr class="data-piece">
        <td><%= tran.repair %></td>
        <td><%= tran.total %></td>
        <td><%= tran.part %></td>
        <td><%= tran.profit %></td>
        <td><%= tran.method %></td>
        <td><%= tran.location %></td>
        <td><%= tran.user %></td>
        <td><%= tran.date %></td>

        <% if(currentUser && currentUser.isAdmin == 'true'){ %>
        <td>
          <button class="delete" data-transaction= <%= tran._id %>
            > Delete
          </button>
        </td>
      </tr>
      <% } %> <% }) %> <% } else { %>
      <p class="noTransactions">There are no transactions to display. Search For them using the filters above</p>
      <% } %>
    </table>

    <script>
      const deleteBTN = document.getElementsByClassName("delete");
      for (let i = 0; i < deleteBTN.length; i++) {
        deleteBTN[i].addEventListener("click", (e) => {
          const endpoint = "/delete/" + deleteBTN[i].dataset.transaction;
          fetch(endpoint, { method: "DELETE" })
            .then((response) => response.json())
            .then((data) => (window.location.href = data.redirect))
            .catch((err) => console.log(err));
        });
      }
    </script>
        <%- include('./footer.ejs') %>

  </body>
</html>

<!-- currentUser is the same as user.username -->
