<!DOCTYPE html>
<html lang="en">
  <%- include('./head.ejs') %>

  <body>
    <%- include('./header.ejs') %> <% if(typeof alert != 'undefined'){ %> <%
    alert.forEach((err)=>{ %>
    <p><%= err.msg %></p>
    <% }) %> <% } %>

    <form
      class="transaction card"
      action="/transaction"
      method="POST"
      autocomplete="on"
    >
      <h1>Transaction</h1>

      <!--Repair-->
      <section>
        <label for="repair">Repair</label>
        <input
          name="repair"
          type="text"
          autocomplete="repair"
          autofocus
          required
        />
       
      </section>
      <!--total-->
      <section>
        <label for="total">Total</label>
        <input
          name="total"
          type="number"
          autocomplete="total"
          autofocus
          required
        />
      </section>
      <!-- Part -->
      <section>
        <label for="part">Part Cost</label>
        <input
          name="part"
          type="number"
          autocomplete="part"
          autofocus
          required
        />
      </section>

      <!-- Profit -->
      <input type="hidden" name="profit" value="unknown" />

      <!-- Location -->
      <section>
        <p>Select Location</p>
        <input type="radio" value="West Seattle" name="location" required />
          <label for="West Seattle">West Seattle</label><br />

        <input type="radio" value="Ballard" name="location" required />
          <label for="Ballard">Ballard</label><br />

        <input type="radio" value="North Seattle" name="location" required />
          <label for="North Seattle">North Seattle</label><br />
      </section>

      <!--Date-->
      <section>
        <label for="date">Date</label>
        <input name="date" type="date" autocomplete="date" autofocus required />
      </section>
      <!--User-->
      <input type="hidden" name="user" value= <%=currentUser.username %> />

      <button type="submit">Record Transaction</button>
    </form>

    <section>
      <% if (transactions.length > 0){ %> <% transactions.forEach(tran => { %>
      <div class="data">
        <div class="div2">
          <h3><%= tran.repair %></h3>
          <p><%= tran.total %></p>
          <p><%= tran.part %></p>
          <p><%= tran.profit %></p>
          <p><%= tran.location %></p>
          <p><%= tran.user %></p>
          <p><%= tran.date %></p>
          <% if(currentUser && currentUser.isAdmin == 'true'){ %>
          <button class="delete" data-transaction= <%= tran._id %>> Delete
          </button>

          <% } %>
        </div>
      </div>
      <% }) %> <% } else { %>
      <p>There are no transactions to display</p>
      <% } %>
    </section>

    <script>
      const deleteBTN = document.getElementsByClassName("delete");
      for (let i = 0; i < deleteBTN.length; i++) {
        deleteBTN[i].addEventListener("click", (e) => {
          const endpoint = "/delete/" + deleteBTN[i].dataset.transaction;
          fetch(endpoint, { method: "DELETE" })
            .then((response) => response.json())
            .then((data) => (window.location.href = data.redirect))
            .catch((err) => console.log(err));
        });
      }
    </script>
  </body>
</html>

<!-- currentUser is the same as user.username -->
