<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="icon" href="/images/favicon.png" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/services.css" />
  </head>

  <body>
    <%- include('../../../components/header.ejs') %>

    <h1>Apple</h1>




    <% if (apples && apples.length > 0){ %> 

<% apples.forEach(app => { %>
        <figure className="">
          <a href= <%=`/services/repairs/apple/${app.url}` %> >
            <image
              src=<%= `/images/services/repairs/apple/${app.image}` %>
              alt= <%= app.name %>
              width="200"
              height="200"
            />
          </a>
          <figcaption><%= app.name %></figcaption>
        </figure>

       
      <% }) %> 
      <% } else { %>
      <p>There are no apple to display. </p>
      <% } %>
 
    
    <%- include('../../../components/footer.ejs') %>
  </body>
</html>
