<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="icon" href="/images/favicon.png" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/services.css" />
  </head>

  <body>
    <%- include('../../components/header.ejs') %>

 
    <h1>Software</h1>




    <% if (softwares && softwares.length > 0){ %> 

<% softwares.forEach(software => { %>
        <figure className="">
          <a href= <%=`/services/software/${software.url}` %> >
            <image
              src=<%= `/images/services/software/${software.image}` %>
              alt= <%= software.category %>
              width="200"
              height="200"
            />
          </a>
          <figcaption><%= software.category %></figcaption>
        </figure>

       
      <% }) %> 
      <% } else { %>
      <p>There are no software to display. </p>
      <% } %>
    <%- include('../../components/footer.ejs') %>
  </body>
</html>
