<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="icon" href="/images/favicon.png" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/services.css" />
  </head>

  <body>
    <%- include('../../../components/header.ejs') %>

    <h1>Microsoft</h1>




    <% if (microsofts && microsofts.length > 0){ %> 

<% microsofts.forEach(microsoft => { %>
        <figure className="">
          <a href= <%=`/services/repairs/microsoft/${microsoft.url}` %> >
            <image
              src=<%= `/images/services/repairs/microsoft/${microsoft.image}` %>
              alt= <%= microsoft.category %>
              width="200"
              height="200"
            />
          </a>
          <figcaption><%= microsoft.category %></figcaption>
        </figure>

       
      <% }) %> 
      <% } else { %>
      <p>There are no microsoft to display. </p>
      <% } %>
 
    
    <%- include('../../../components/footer.ejs') %>
  </body>
</html>
